
<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>提示信息  dd{$DT[seo_delimiter]}{$DT[sitename]}</title>
<meta name="robots" content="noindex,nofollow"/>
<style type="text/css">
*{font-size:14px;color:#2B61BA;}
body{font-family: Verdana, Arial, Helvetica, sans-serif;background:#F0F2F7;margin:0;}
input{color:#333333;}
a:link,a:visited,a:active {color:#ABBBD6;text-decoration:none;}
.msg{width: 600px;margin: 0 auto;background: #fff; margin-top: 15%;}
.head{background: #00923f; height: 45px;line-height: 45px;color: #fff;text-align: center;}
.content{padding:10px 20px 5px 20px;line-height:200%;word-break:break-all;border:#00923f 1px solid;border-top:none;}

</style>
<script type="text/javascript">try {document.execCommand("BackgroundImageCache", false, true);} catch(e) {}</script>
</head>
{if $dtime == -1}
<body style="background:#FFFFFF;margin:200px auto;">
<center><img src="{DT_SKIN}image/loading...gif" alt="login"/></center>
{$dmessage}
<meta http-equiv="refresh" content="0;URL={$dforward}"/>
{else}
<body onkeydown="if(event.keyCode==13) window.history.back();">

	<div class="msg">
		<div class="head">提示信息</div>
		<div class="content">
		{$dmessage}<br/>
		{if $dforward == 'goback'}
		<a href="javascript:window.history.back();">[ 点这里返回上一页 ]</a><br/>
		{else}
		<a href="{$dforward}">如果您的浏览器没有自动跳转，请点击这里</a><br/>
		<meta http-equiv="refresh" content="{$dtime};URL={$dforward}">
		{/if}
		</div>
	</div>

{/if}
</body>
</html>